<!DOCTYPE>
<html>
    <head>
        {% load static %}
        <title>Burpy, You can do the trims you wanted!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-css.css' %}" />
    </head>
    <body>
    <div class = "header">
        <h1>Burpy</h1>
    </div>
    <div class = "subheader">
        <h3>You do not need to trim with a drink you do not know anymore. Burpy will provide a happy trim!!</h3>
    </div>
    <div class = "con">
         current server is an image classification server. Please take the correct approach.
    </div>
    </body>
</html>